language: php

php:
  - '5.6'
  - '7.0'
  - hhvm
  - nightly

install: composer install

matrix:
  allow_failures:
    - php: hhvm

script:
  - ./vendor/bin/phpcs --standard=phpcs.xml src/
  - ./vendor/bin/phpmd src/ text phpmd.xml
  - ./bin/runtests.sh
