language: php

php:
  - '5.6'
  - '7.0'
  - hhvm
  - nightly
  
before-install: git config --global github.accesstoken $GITHUB_OAUTH_TOKEN

install: composer install --prefer-dist --no-interaction -vvv

matrix:
  allow_failures:
    - php: hhvm

script:
  - ./vendor/bin/phpcs --standard=phpcs.xml src/
  - ./vendor/bin/phpmd src/ text phpmd.xml
  - ./bin/runtests.sh
