language: php

php:
  - '5.6'
  - '7.0'
  - hhvm
  - nightly
  
before_install:
  - git config --global github.accesstoken $GITHUB_OAUTH_TOKEN
  - composer config github-oauth.github.com $GITHUB_OAUTH_TOKEN

install: composer install --no-interaction

matrix:
  allow_failures:
    - php:
      - hhvm
      - nightly
  fast_finish: true

script:
  - ./vendor/bin/phpcs --standard=phpcs.xml src/
  - ./vendor/bin/phpmd src/ text phpmd.xml
  - ./bin/runtests.sh
